/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define base 0

/ {
	keymap {
		compatible = "zmk,keymap";
		//	 0  1  2  3  4		 5  6  7  8  9
		//	10 11 12 13 14		15 16 17 18 19 
		//	   20 21 22			   23 24 25
		//
		//			 26 27		28 29
		
		//	 w  c  g  d  v		 x  l  u  o  y
		//	 r  s  t  h  k		 j  n  e  a  i
		//		f  p  b				m  ,  .
	
		*/
        base_layer {
            label = "Asfoora Base Layer";
            bindings = <
				&kp W		&kp C		&kp G		&kp D		&kp V				&kp X		&kp L		&kp U		&kp O		&kp Y
				&kp R		&kp S		&kp T		&kp H		&kp K				&kp J		&kp N		&kp E		&kp A		&kp I
							&kp F		&kp P		&kp B                                       &kp M		&kp COMMA	&kp DOT

													&kp RET		&kp SPACE			&kp LSHFT	&kp BSPC
			>;
		};
	};
};
