/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define base 0

/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │     20  21  22     │ │     23  24  25     │
  ╰───────────╮ 26  27 │  │ 28  29 ╭───────────╯
              ╰────────╯ ╰────────╯            */

/ {
	keymap {
		compatible = "zmk,keymap";
		/*
			x c w p k	j l u y '
			r s t h b	v n a i o
			  f g d       m , .
				_		  e
		*/
        base_layer {
            label = "Asfoora Base Layer";
            bindings = <
				&kp X		&kp C		&kp w		&kp P		&kp K				&kp J		&kp L		&kp U		&kp Y		&kp SQT
				&kp R		&kp S		&kp T		&kp H		&kp B				&kp V		&kp N		&kp A		&kp I		&kp O
							&kp F		&kp G		&kp D                                       &kp M		&kp COMMA	&kp DOT

													&kp RET		&kp SPACE			&kp E		&kp BSPC
			>;
		};
	};
};
