&caps_word	{ continue-list = <BACKSPACE UNDER MINUS N1 N2 N3 N4 N5 N6 N7 N8 N9 N0>; };

/ {
	conditional_layers {
		compatible = "zmk,conditional-layers";
		tri_layer {
			if-layers = <NAV NUM>;
			then-layer = <MIS>;
		};
	};

	hm: homerow_mod {
		compatible = "zmk,behavior-hold-tap";
		label = "HOMEROW_MODS";
		#binding-cells = <2>;
		tapping-term-ms = <250>;
		quick_tap_ms = <250>;
		flavor = "tap-preferred";
		bindings = <&kp>, <&kp>;
	};

	ht: hold_tap {
		compatible = "zmk,behavior-hold-tap";
		#binding-cells = <2>;
		tapping-term-ms = <200>;
		flavor = "tap-preferred";
		bindings = <&kp>, <&kp>;
	};

	mm_sqt_sqt: mm_sqt_sqt {
		compatible = "zmk,behavior-mod-morph";
		#binding-cells = <0>;
		bindings = <&kp SQT>, <&kp SQT>;
		mods = <(MOD_LSFT|MOD_RSFT)>;
	};
};