&sk			{ release-after-ms = <60000>; };
&caps_word	{ continue-list = <UNDERSCORE MINUS BACKSPACE K_CANCEL>; };

/ {
	// Sticky key on tap, normal key on hold
	// Useful for modifier-clicking without the modifier remaining active
	ht: hold_tap {
		compatible = "zmk,behavior-hold-tap";
		#binding-cells = <2>;
		tapping-term-ms = <200>;
		flavor = "tap-preferred";
		bindings = <&kp>, <&kp>;
	};

	ht_TEST: hold_tap_TEST {
		compatible = "zmk,behavior-hold-tap";
		#binding-cells = <2>;
		tapping-term-ms = <200>;
		flavor = "tap-preferred";
		bindings = <&mm_TEST 0 0>, <&kp N1>;
	};

	mm_TEST: mm_TEST {
		compatible = "zmk,behavior-mod-morph";
		#binding-cells = <0>;
		bindings = <&kp SQT>, <&kp K_CANCEL>;
		mods = <(MOD_LGUI|MOD_LALT|MOD_LCTL|MOD_LSFT|MOD_RSFT|MOD_RCTL|MOD_RALT|MOD_RGUI)>;
	};

	nk: not_so_sticky_key {
		compatible = "zmk,behavior-hold-tap";
		#binding-cells = <2>;
		tapping-term-ms = <250>;
		flavor = "tap-preferred";
		bindings = <&kp>, <&sk>;
	};

    skq: sticky_key_quick_release {
		compatible = "zmk,behavior-sticky-key";
		#binding-cells = <1>;
		bindings = <&kp>;
		quick-release;
		release-after-ms = <750>;
	};

	mm_sqt: mm_sqt_only {
		compatible = "zmk,behavior-mod-morph";
		#binding-cells = <0>;
		bindings = <&kp SQT>, <&kp SQT>;
		mods = <(MOD_LSFT|MOD_RSFT)>;
	};

	mm_new_tab: mm_new_tab_incognito {
		compatible = "zmk,behavior-mod-morph";
		#binding-cells = <0>;
		bindings = <TAB_NEW>, <INCOGNITO>;
		mods = <(MOD_LSFT|MOD_RSFT)>;
	};

	mm_com_sco: mm_comma_semi_colon {
		compatible = "zmk,behavior-mod-morph";
		#binding-cells = <0>;
		bindings = <&kp COMMA>, <&kp SEMI>;
		mods = <(MOD_LSFT|MOD_RSFT)>;
	};

	mm_dot_col: mm_dot_colon {
		compatible = "zmk,behavior-mod-morph";
		#binding-cells = <0>;
		bindings = <&kp DOT>, <&kp COLON>;
		mods = <(MOD_LSFT|MOD_RSFT)>;
	};

	mm_search: mm_search {
		compatible = "zmk,behavior-mod-morph";
		#binding-cells = <0>;
		bindings = <&mm_search_shift>, <&kp F6>;
		mods = <(MOD_LCTL|MOD_RCTL)>;
	};

	mm_search_shift: mm_search_shift {
		compatible = "zmk,behavior-mod-morph";
		#binding-cells = <0>;
		bindings = <&kp LC(F)>, <&kp LC(K)>;
		mods = <(MOD_LSFT|MOD_RSFT)>;
	};

	conditional_layers {
		compatible = "zmk,conditional-layers";
		tri_layer {
			if-layers = <NAV NUM>;
			then-layer = <MISC>;
		};
	};
};