#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, MS) \
    combo_##NAME { \
        bindings = <BINDINGS>; \
        key-positions = <KEYPOS>; \
        layers = <LAYERS>; \
        timeout-ms = <MS>; \
    };

#define COMBO_TERM_FAST 14
#define COMBO_TERM_NORMAL 20
#define COMBO_TERM_SLOW 45

/*
v   w   f   p   b       x   m   ,   .   '       
r   s   t   h   k       j   n   a   i   o
    c   g   d               l   u   y
        Nav Spc         E   Num

0   1   2   3   4       5   6   7   8   9
10  11  12  13  14      15  16  17  18  19
    20  21  22              23  24  25
            26  27      28  29
*/

combos {
    compatible = "zmk,combos";

    COMBO(the, &macro_the, 12 13, DEF, COMBO_TERM_SLOW)
    COMBO(a, &macro_a, 27 17, DEF, COMBO_TERM_SLOW)
    COMBO(be, &macro_be, 4 28, DEF, COMBO_TERM_SLOW)
    COMBO(to, &macro_to, 12 19, DEF, COMBO_TERM_SLOW)
    COMBO(of, &macro_of, 19 2, DEF, COMBO_TERM_SLOW)
    COMBO(and, &macro_and, 17 16, DEF, COMBO_TERM_SLOW)
    COMBO(in, &macro_in, 18 16, DEF, COMBO_TERM_SLOW)
    COMBO(that, &macro_that, 22 12, DEF, COMBO_TERM_SLOW)
    COMBO(have, &macro_have, 13 0, DEF, COMBO_TERM_SLOW)
    COMBO(having, &macro_having, 13 0 9, DEF, COMBO_TERM_SLOW)
    COMBO(I, &macro_I, 27 18, DEF, COMBO_TERM_SLOW)
    COMBO(it, &macro_it, 18 12, DEF, COMBO_TERM_SLOW)
    COMBO(for, &macro_for, 27 2, DEF, COMBO_TERM_SLOW)
    COMBO(not, &macro_not, 16 12, DEF, COMBO_TERM_SLOW)
    COMBO(on, &macro_on, 19 16, DEF, COMBO_TERM_SLOW)
    COMBO(with, &macro_with, 27 1, DEF, COMBO_TERM_SLOW)
    COMBO(he, &macro_he, 13 28, DEF, COMBO_TERM_SLOW)
    COMBO(as, &macro_as, 17 11, DEF, COMBO_TERM_SLOW)
    COMBO(you, &macro_you, 19 24, DEF, COMBO_TERM_SLOW)
    COMBO(do, &macro_do, 22 19, DEF, COMBO_TERM_SLOW)
    COMBO(at, &macro_at, 17 12, DEF, COMBO_TERM_SLOW)
    COMBO(this, &macro_this, 22 18 11, DEF, COMBO_TERM_SLOW)
    COMBO(but, &macro_but, 4 24, DEF, COMBO_TERM_SLOW)
    COMBO(his, &macro_his, 13 18 11, DEF, COMBO_TERM_SLOW)
    COMBO(by, &macro_by, 4 25, DEF, COMBO_TERM_SLOW)
    COMBO(from, &macro_from, 2 6, DEF, COMBO_TERM_SLOW)
    COMBO(they, &macro_they, 22 25, DEF, COMBO_TERM_SLOW)
    COMBO(we, &macro_we, 1 28, DEF, COMBO_TERM_SLOW)
    COMBO(say, &macro_say, 11 25, DEF, COMBO_TERM_SLOW)
    COMBO(her, &macro_her, 13 10, DEF, COMBO_TERM_SLOW)
    COMBO(she, &macro_she, 11 13, DEF, COMBO_TERM_SLOW)
    COMBO(or, &macro_or, 19 10, DEF, COMBO_TERM_SLOW)
    COMBO(an, &macro_an, 27 17 16, DEF, COMBO_TERM_SLOW)
    COMBO(will, &macro_will, 1 23, DEF, COMBO_TERM_SLOW)
    COMBO(my, &macro_my, 27 6 10, DEF, COMBO_TERM_SLOW)
    COMBO(one, &macro_one, 27 19, DEF, COMBO_TERM_SLOW)
    COMBO(all, &macro_all, 17 23, DEF, COMBO_TERM_SLOW)
    COMBO(would, &macro_would, 1 22, DEF, COMBO_TERM_SLOW)
    COMBO(there, &macro_there, 12 13 28, DEF, COMBO_TERM_SLOW)
    COMBO(their, &macro_their, 22 10, DEF, COMBO_TERM_SLOW)
    COMBO(what, &macro_what, 1 12, DEF, COMBO_TERM_SLOW)
    COMBO(so, &macro_so, 11 19, DEF, COMBO_TERM_SLOW)
    COMBO(up, &macro_up, 24 3, DEF, COMBO_TERM_SLOW)
    COMBO(out, &macro_out, 19 24 12, DEF, COMBO_TERM_SLOW)
    COMBO(if, &macro_if, 18 2, DEF, COMBO_TERM_SLOW)
    COMBO(about, &macro_about, 17 4, DEF, COMBO_TERM_SLOW)
    COMBO(who, &macro_who, 13 19, DEF, COMBO_TERM_SLOW)
    COMBO(get, &macro_get, 21 28, DEF, COMBO_TERM_SLOW)
    COMBO(getting, &macro_getting, 21 28 9, DEF, COMBO_TERM_SLOW)
    COMBO(which, &macro_which, 1 20, DEF, COMBO_TERM_SLOW)
    COMBO(go, &macro_go, 27 21, DEF, COMBO_TERM_SLOW)
    COMBO(me, &macro_me, 27 6 28, DEF, COMBO_TERM_SLOW)
    COMBO(when, &macro_when, 1 16, DEF, COMBO_TERM_SLOW)
    COMBO(make, &macro_make, 6 14, DEF, COMBO_TERM_SLOW)
    COMBO(making, &macro_making, 6 14 9, DEF, COMBO_TERM_SLOW)
    COMBO(can, &macro_can, 20 16, DEF, COMBO_TERM_SLOW)
    COMBO(like, &macro_like, 23 18, DEF, COMBO_TERM_SLOW)
    COMBO(liking, &macro_liking, 23 18 9, DEF, COMBO_TERM_SLOW)
    COMBO(time, &macro_time, 12 6, DEF, COMBO_TERM_SLOW)
    COMBO(no, &macro_no, 27 16, DEF, COMBO_TERM_SLOW)
    COMBO(just, &macro_just, 15 11, DEF, COMBO_TERM_SLOW)
    COMBO(him, &macro_him, 13 6, DEF, COMBO_TERM_SLOW)
    COMBO(know, &macro_know, 14 16, DEF, COMBO_TERM_SLOW)
    COMBO(take, &macro_take, 12 14, DEF, COMBO_TERM_SLOW)
    COMBO(taking, &macro_taking, 12 14 9, DEF, COMBO_TERM_SLOW)
    COMBO(people, &macro_people, 3 23, DEF, COMBO_TERM_SLOW)
    COMBO(into, &macro_into, 18 19, DEF, COMBO_TERM_SLOW)
    COMBO(year, &macro_year, 25 10, DEF, COMBO_TERM_SLOW)
    COMBO(your, &macro_your, 24 10, DEF, COMBO_TERM_SLOW)
    COMBO(good, &macro_good, 21 19, DEF, COMBO_TERM_SLOW)
    COMBO(some, &macro_some, 11 6, DEF, COMBO_TERM_SLOW)
    COMBO(could, &macro_could, 20 22, DEF, COMBO_TERM_SLOW)
    COMBO(them, &macro_them, 22 6, DEF, COMBO_TERM_SLOW)
    COMBO(see, &macro_see, 11 28, DEF, COMBO_TERM_SLOW)
    COMBO(other, &macro_other, 19 22 10, DEF, COMBO_TERM_SLOW)
    COMBO(than, &macro_than, 22 17 16, DEF, COMBO_TERM_SLOW)
    COMBO(then, &macro_then, 22 16, DEF, COMBO_TERM_SLOW)
    COMBO(now, &macro_now, 16 19 1, DEF, COMBO_TERM_SLOW)
    COMBO(look, &macro_look, 0 28 16, DEF, COMBO_TERM_SLOW)
    COMBO(only, &macro_only, 19 25, DEF, COMBO_TERM_SLOW)
    COMBO(come, &macro_come, 20 6, DEF, COMBO_TERM_SLOW)
    COMBO(coming, &macro_coming, 20 6 9, DEF, COMBO_TERM_SLOW)
    COMBO(its, &macro_its, 12 11, DEF, COMBO_TERM_SLOW)
    COMBO(over, &macro_over, 19 0, DEF, COMBO_TERM_SLOW)
    COMBO(think, &macro_think, 12 16 14, DEF, COMBO_TERM_SLOW)
    COMBO(also, &macro_also, 17 19, DEF, COMBO_TERM_SLOW)
    COMBO(back, &macro_back, 4 14, DEF, COMBO_TERM_SLOW)
    COMBO(after, &macro_after, 17 2, DEF, COMBO_TERM_SLOW)
    COMBO(use, &macro_use, 24 1 7, DEF, COMBO_TERM_SLOW)
    COMBO(using, &macro_using, 24 1 7 9, DEF, COMBO_TERM_SLOW)
    COMBO(two, &macro_two, 27 12, DEF, COMBO_TERM_SLOW)
    COMBO(how, &macro_how, 13 1, DEF, COMBO_TERM_SLOW)
    COMBO(our, &macro_our, 19 24 10, DEF, COMBO_TERM_SLOW)
    COMBO(work, &macro_work, 1 14, DEF, COMBO_TERM_SLOW)
    COMBO(first, &macro_first, 2 11, DEF, COMBO_TERM_SLOW)
    COMBO(well, &macro_well, 28 23, DEF, COMBO_TERM_SLOW)
    COMBO(way, &macro_way, 1 17 25, DEF, COMBO_TERM_SLOW)
    COMBO(even, &macro_even, 28 0, DEF, COMBO_TERM_SLOW)
    COMBO(new, &macro_new, 16 28, DEF, COMBO_TERM_SLOW)
    COMBO(want, &macro_want, 1 16 12, DEF, COMBO_TERM_SLOW)
    COMBO(because, &macro_because, 4 20, DEF, COMBO_TERM_SLOW)
    COMBO(any, &macro_any, 17 25, DEF, COMBO_TERM_SLOW)
    COMBO(these, &macro_these, 22 28 11, DEF, COMBO_TERM_SLOW)
    COMBO(give, &macro_give, 21 18, DEF, COMBO_TERM_SLOW)
    COMBO(giving, &macro_giving, 21 18 9, DEF, COMBO_TERM_SLOW)
    COMBO(day, &macro_day, 22 17, DEF, COMBO_TERM_SLOW)
    COMBO(most, &macro_most, 27 6, DEF, COMBO_TERM_SLOW)
    COMBO(us, &macro_us, 24 11, DEF, COMBO_TERM_SLOW)
    COMBO(without, &macro_without, 1 19, DEF, COMBO_TERM_SLOW)
    COMBO(where, &macro_where, 1 10, DEF, COMBO_TERM_SLOW)
    COMBO(why, &macro_why, 1 25, DEF, COMBO_TERM_SLOW)
    COMBO(is, &macro_is, 18 11, DEF, COMBO_TERM_SLOW)
    COMBO(are, &macro_are, 17 10, DEF, COMBO_TERM_SLOW)
    COMBO(was, &macro_was, 1 17, DEF, COMBO_TERM_SLOW)
    COMBO(were, &macro_were, 28 10, DEF, COMBO_TERM_SLOW)
    COMBO(has, &macro_has, 13 1 7, DEF, COMBO_TERM_SLOW)
    COMBO(had, &macro_had, 13 22, DEF, COMBO_TERM_SLOW)
    COMBO(should, &macro_should, 11 22, DEF, COMBO_TERM_SLOW)
    COMBO(been, &macro_been, 4 16, DEF, COMBO_TERM_SLOW)
    COMBO(may, &macro_may, 6 17 25, DEF, COMBO_TERM_SLOW)
    COMBO(made, &macro_made, 6 17 22, DEF, COMBO_TERM_SLOW)
    COMBO(said, &macro_said, 17 18, DEF, COMBO_TERM_SLOW)
    COMBO(cannot, &macro_cannot, 20 12, DEF, COMBO_TERM_SLOW)
    COMBO(does, &macro_does, 22 28, DEF, COMBO_TERM_SLOW)
    COMBO(did, &macro_did, 22 18, DEF, COMBO_TERM_SLOW)
    COMBO(seem, &macro_seem, 11 28 6, DEF, COMBO_TERM_SLOW)
    COMBO(call, &macro_call, 20 23, DEF, COMBO_TERM_SLOW)
    COMBO(thank, &macro_thank, 12 13 17, DEF, COMBO_TERM_SLOW)
    COMBO(Im, &macro_Im, 18 6, DEF, COMBO_TERM_SLOW)
    COMBO(many, &macro_many, 6 17, DEF, COMBO_TERM_SLOW)
    COMBO(very, &macro_very, 0 25, DEF, COMBO_TERM_SLOW)
    COMBO(question, &macro_question, 1 2 16, DEF, COMBO_TERM_SLOW)
    COMBO(second, &macro_second, 11 20, DEF, COMBO_TERM_SLOW)
    COMBO(thing, &macro_thing, 22 21, DEF, COMBO_TERM_SLOW)
    COMBO(yes, &macro_yes, 27 25, DEF, COMBO_TERM_SLOW)
    COMBO(cant, &macro_cant, 20 16 9, DEF, COMBO_TERM_SLOW)
    COMBO(different, &macro_different, 22 18 2, DEF, COMBO_TERM_SLOW)
    COMBO(though, &macro_though, 22 21 13, DEF, COMBO_TERM_SLOW)
    COMBO(through, &macro_through, 12 10 24, DEF, COMBO_TERM_SLOW)
    COMBO(sorry, &macro_sorry, 11 10, DEF, COMBO_TERM_SLOW)
    COMBO(move, &macro_move, 6 0, DEF, COMBO_TERM_SLOW)
    COMBO(direction, &macro_direction, 22 18 10, DEF, COMBO_TERM_SLOW)
    COMBO(next, &macro_next, 16 5, DEF, COMBO_TERM_SLOW)
    COMBO(same, &macro_same, 11 17 6, DEF, COMBO_TERM_SLOW)
    COMBO(top, &macro_top, 12 3, DEF, COMBO_TERM_SLOW)
    COMBO(month, &macro_month, 6 19 16, DEF, COMBO_TERM_SLOW)
};