// includes
#include			<behaviors.dtsi>
#include			<dt-bindings/zmk/keys.h>
#include			<dt-bindings/zmk/bt.h>
#include			<dt-bindings/zmk/outputs.h>

// layers
#define DEF			0
#define NUM 		1
#define NAV 		2
#define MIS			3

// default
#define DEF_R		&hm LGUI R
#define DEF_S		&hm LALT S
#define DEF_T		&hm LCTL T
#define DEF_H		&hm LSFT H
#define DEF_N		&hm LSFT N
#define DEF_A		&hm LCTL A
#define DEF_I		&hm LALT I
#define DEF_O		&hm LGUI O
#define DEF_COMMA   &mm_com_sem
#define DEF_DOT     &mm_dot_col

// navigation
#define NAV_PASTE   &ht LC(V) LC(LS(V))
#define NAV_COPY    &hm RSFT LC(C)
#define NAV_SWAP    &hm LSFT LC(LA(TAB))

#define NAV_SEL_LE  &kp LC(LS(LEFT))
#define NAV_SEL_RI  &kp LS(LC(RIGHT))
#define NAV_SEL_LI  &kp LA(LS(I))
#define NAV_TAB_LE  &kp LC(PG_UP)
#define NAV_TAB_RI  &kp LC(PG_DN)
#define NAV_CUT     &kp LC(X)
#define NAV_SEL_AL  &kp LC(A)
#define NAV_SMILEY  &kp LG(DOT)
#define NAV_DELWRD  &kp LC(DEL)

#define NAV_SWI_LE  &mm_switch_left
#define NAV_SWI_RI  &mm_switch_right
#define NAV_UP      &mm_up_pgup
#define NAV_DOWN    &mm_down_pgdn
#define NAV_LEFT    &mm_left_home
#define NAV_RIGHT   &mm_right_end

// number
#define NUM_N0       &mm_number_0
#define NUM_N1       &mm_number_1
#define NUM_N2       &mm_number_2
#define NUM_N3       &mm_number_3
#define NUM_N4       &mm_number_4
#define NUM_N5       &mm_number_5
#define NUM_N6       &mm_number_6
#define NUM_N7       &mm_number_7
#define NUM_N8       &mm_number_8
#define NUM_N9       &mm_number_9

// miscellaneous

// other
#define XXXXXXXXXX	&none
#define ___XXXX___	&trans
#define __________  &trans

// keymap drawer
#define THUMB_LEFT  &kp F23
#define THUMB_RIGHT &kp F24