#define str(s) #s
#define MACRO(NAME, BINDINGS, WAITMS, TAPMS) \
	macro_##NAME: macro_##NAME { \
		compatible = "zmk,behavior-macro"; \
		label = str(macro_##NAME); \
		#binding-cells = <0>; \
		wait-ms = <WAITMS>; \
		tap-ms = <TAPMS>; \
		bindings = <BINDINGS>; \
	};

/* macro: */
/ {
	macros {
		MACRO(num, &macro_tap &kp SQT &macro_press &mo NUM &macro_pause_for_release &macro_release &mo NUM, 0, 0)
		MACRO(nav, &macro_tap &kp DQT &macro_press &mo NAV &macro_pause_for_release &macro_release &mo NAV, 0, 0)

		MACRO(grave3, &macro_tap &kp GRAVE &macro_tap &kp GRAVE &macro_tap &kp GRAVE, 0, 0)
	};
};