
/* Macro macro: */
#define str(s) #s
#define MACRO(NAME, BINDINGS, WAITMS, TAPMS) \
    macro_##NAME: macro_##NAME { \
        compatible = "zmk,behavior-macro"; \
        label = str(macro_##NAME); \
        #binding-cells = <0>; \
        wait-ms = <WAITMS>; \
        tap-ms = <TAPMS>; \
        bindings = <BINDINGS>; \
    };

/* macro: */
MACRO(Jan, &kp J &macro_release &kp LSHIFT &macro_tap &kp A &kp N, 0, 0)
MACRO(Feb, &kp F &macro_release &kp LSHIFT &macro_tap &kp E &kp B, 0, 0)
MACRO(Mar, &kp M &macro_release &kp LSHIFT &macro_tap &kp A &kp R, 0, 0)
MACRO(Apr, &kp A &macro_release &kp LSHIFT &macro_tap &kp P &kp R, 0, 0)
MACRO(May, &kp M &macro_release &kp LSHIFT &macro_tap &kp A &kp Y, 0, 0)
MACRO(Jun, &kp J &macro_release &kp LSHIFT &macro_tap &kp U &kp N, 0, 0)
MACRO(Jul, &kp J &macro_release &kp LSHIFT &macro_tap &kp U &kp L, 0, 0)
MACRO(Aug, &kp A &macro_release &kp LSHIFT &macro_tap &kp U &kp G, 0, 0)
MACRO(Sep, &kp S &macro_release &kp LSHIFT &macro_tap &kp E &kp P, 0, 0)
MACRO(Oct, &kp O &macro_release &kp LSHIFT &macro_tap &kp C &kp T, 0, 0)
MACRO(Nov, &kp N &macro_release &kp LSHIFT &macro_tap &kp O &kp V, 0, 0)
MACRO(Dec, &kp D &macro_release &kp LSHIFT &macro_tap &kp E &kp C, 0, 0)