/*					   KEY POSITIONS
 *		 0	 1	 2	 3	 4		 5	 6	 7	 8	 9
 *		10	11	12	13	14		15	16	17	18	19 
 *			20	21	22				23	24	25
 *					26	27		28	29
 *
 *		 	 C	 G	 D	 K		 J	 L	 U	 Y
 *		 R	 S	 T	 H	 P		 V	 N	 A	 I	 O
 *			 B	 W	 F				 M	 ,	 .
 *					   SPACE	 E
 *
 *          	 Q	                    ```
 *             V   QU                  `   ' 
 *		 	 C	 G	 D	 K		 J	 L	 U	 Y
 *		 R	 S	 T	 H	 P		 V	 N	 A	 I	 O
 *			 B	 W	 F				 M	 ,	 .
 *             \   /                   <   >
 *               Z                      < >
 */

#include "defines.dtsi"
#include "combos.dtsi"
#include "behaviors.dtsi"
#include "macros.dtsi"

// urob timeless hrm for alphas
// best way of handling euros
// how to handle AHK stuff
// how about mouse keys?? and other urob stuff.
// https://github.com/rvaiya/warpd/tree/master
// https://github.com/lesderid/keynavish?tab=readme-ov-file https://github.com/stozi/gallium-ru-34

/ {
	keymap {
		compatible = "zmk,keymap";

		Default_layer {
            label = "DEF";
            bindings = <
				XXXXXXXXXX	&kp C		&kp G		&kp D		&kp K				&kp J		&kp L		&kp U		&kp Y		XXXXXXXXXX
				DEF_R		DEF_S		DEF_T		DEF_H		&kp P				&kp V		DEF_N		DEF_A		DEF_I		DEF_O
							&kp B		&kp W		&kp F										&kp M		DEF_COMMA	DEF_DOT

				#ifndef KEYMAP_DRAWER
													&kp F21		&lt NAV SPACE		&lt NUM E	&kp F22
				#else
													&kp F21		&lt NAV SPACE		&lt NUM E	&kp F22
				#endif
			>;
		};

        Number_layer {
            label = "NUM";
			bindings = <
				XXXXXXXXXX	&kp EXCL	&kp QMARK	UK_AT		UK_POUND 			UK_HASH		NUM_N7		NUM_N8		NUM_N9		XXXXXXXXXX
				NUM_PERCENT NUM_STAR  	NUM_UNDER	NUM_MINUS	&kp DOLLAR			&kp EQUAL	NUM_N0		NUM_N1		NUM_N2		NUM_N3
							&kp PLUS  	NUM_PIPE	&kp AMPS									NUM_N4		NUM_N5		NUM_N6

				#ifndef KEYMAP_DRAWER
													__________	__________			__________	__________
				#else
													__________	__________			___XXXX___	__________
				#endif
			>;
		};

        Navigation_layer {
            label = "NAV";
			bindings = <
				XXXXXXXXXX	NAV_TAB_LE	NAV_TAB_NE	NAV_TAB_RI	&kp DEL				NAV_DELWRD	NAV_SWI_LE	NAV_UP		NAV_SWI_RI	XXXXXXXXXX
				NAV_SCREENS	NAV_INCOG	NAV_SWAP	NAV_TAB		NAV_SEL_AL			NAV_SMILEY	NAV_LEFT	NAV_DOWN	NAV_RIGHT	NAV_THREAD
							NAV_CUT		NAV_COPY	NAV_PASTE									NAV_CLO_TAB	NAV_CLO_APP	NAV_SEL_LI

				#ifndef KEYMAP_DRAWER
													__________	__________			__________	__________
				#else
													__________	___XXXX___			__________	__________
				#endif
			>;
		};

		Miscellaneous_layer {
            label = "MIS";
            bindings = <
				XXXXXXXXXX	&kp C_PREV	&kp C_PLAY	&kp C_NEXT	MIS_BRI_DN			MIS_BRI_UP	MIS_VOL_DN	MIS_VOL_MU	MIS_VOL_UP	XXXXXXXXXX
				MIS_BITWAR	&kp F2		&kp F11		&kp F6		&kp F12				&bt BT_CLR	MIS_BT_1	MIS_BT_2	MIS_BT_3	MIS_GENERAT
							&soft_off	UK_TILDE	MIS_CAD										MIS_SLEEP	&kp CARET	&bootloader

				#ifndef KEYMAP_DRAWER
													__________	__________			__________	__________
				#else
													__________	___XXXX___			___XXXX___	__________
				#endif
			>;
		};
	};
};