/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 *					KEY POSITIONS
 *		 0	 1	 2	 3	 4		 5	 6	 7	 8	 9
 *		10	11	12	13	14		15	16	17	18	19 
 *			20	21	22				23	24	25
 *					26	27		28	29
 *
 *		 K	 W	 C	 D	 B		 J	 L	 U	 Y	 '
 *		 A	 R	 S	 T	 P		 X	 N	 H	 I	 O 
 *			 V	 F	 G				 M	 Q	 Z
 *					   SPACE	 E
 */

#include "defines.dtsi"
#include "behaviors.dtsi"
#include "combos.dtsi"
#include "macros.dtsi"

// capsword / capslock
// maybe tidy up shape again
// advanced https://github.com/caksoylar/zmk-config/blob/main/keymap-drawer/config.yaml
// all numbers into mod morphs and hold taps (for navigating wavebox etc)?
// move img files OR rename and have all in keymap-drawer!!!
// hold numbers for ctrl+shift+number	
// maybe the app shortcuts are really wave box etc. shortcuts s
/ {
	keymap {
		compatible = "zmk,keymap";

		Default_layer {
            label = "DEF";
            bindings = <
				&kp K		&kp W		&kp C		&kp D		&kp B				&kp J		&kp L		&kp U		&kp Y		&mm_sqt_sqt
				HRM_A		HRM_R		HRM_S		HRM_T		&kp P				&kp X		HRM_N		HRM_H		HRM_I		HRM_O
							&kp V		&kp F		&kp G                                       &kp M		&kp Q		&kp Z

				#ifndef KEYMAP_DRAWER				
													__________	&lt NAV SPACE	&lt NUM E		__________
				#else											
															&lt NAV SPACE		&lt NUM E
				#endif
			>;
		};

        Number_layer {
            label = "NUM";
			bindings = <
				&kp TAB		&kp N9		&kp N8		&kp N7		&kp PIPE			UK_POUND	&kp SEMI	&kp COLON	&kp STAR	&kp PERCENT
				&kp N3		&kp N2		&kp N1		&kp N0		&kp AMPS			&kp DOLLAR	&kp COMMA 	&kp DOT		UK_DQT		&kp MINUS
							&kp N6		&kp N5		&kp N4										&kp BSPC 	&kp EQUAL	&kp UNDER

				#ifndef KEYMAP_DRAWER
													__________	__________			___XXXX___	__________
				#else											
																__________			___XXXX___
				#endif
			>;
		};

        Navigation_layer {
            label = "NAV";
			bindings = <
				&kp TAB		SLACK_UP	THREAD		SLACK_DN	&kp DEL				DEL_WORD	&kp HOME	&kp UP		&kp END		&kp F6
				&kp LGUI   	&kp LALT	&kp LCTL    &kp LSFT	SHO_SEL_ALL			&mm_new_tab	&kp LEFT	&kp DOWN	&kp RIGHT	SHO_APP_SEL
							SHO_CUT		SHO_COPY	SHO_PASTE                                   &kp BSPC	TAB_PREV	TAB_NEXT

				#ifndef KEYMAP_DRAWER
													__________	___XXXX___			__________	__________
				#else											
																___XXXX___			__________
				#endif
			>;
		};
 
		Miscellaneous_layer {
            label = "MIS";
            bindings = <
				&bootloader	&kp C_PREV	&kp C_PLAY	&kp C_NEXT	&kp F11				&kp F12		VOL_DOWN	VOL_MUTE	VOL_UP		CLOSE
				&bt BT_CLR	CON_THREE	CON_TWO		CON_ONE		&kp F2				MUTE_MIC	A_INBOX		A_SLACK		A_GLADMIN	A_BULLHORN
							&kp CARET	UK_TILDE	UK_GRAVE									A_CALENDAR	DESK_L		DESK_R
				
				#ifndef KEYMAP_DRAWER				
													__________	___XXXX___			___XXXX___	__________
				#else
																___XXXX___			___XXXX___
				#endif
			>;
		};
	};
};