/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define DEF 0
#define NAV 1
#define NUM 2


#define xxxxxx &none
#define ______ &trans

&sk {
  release-after-ms = <900>;  // release after 0.6s
  quick-release;
};

/ {
    #include "combos.dtsi"
    #include "macros.dtsi"

    behaviors {
		num_word: behavior_num_word {
            compatible = "zmk,behavior-caps-word";
            label = "NUM_WORD";
            #binding-cells = <0>;
            layers = <2>;                                   // insert location of numbers layer here
            continue-list = <BACKSPACE DELETE DOT COMMA>;   // adjust as desired
            ignore-numbers;                                 // numbers don't deactivate the layer
		};
	};

    keymap {
        compatible = "zmk,keymap";

        def_layer {
            label = "Base Layer";
            bindings = <
                &kp V       &kp W       &kp F       &kp P       &kp B               &kp X       &kp M       &kp COMMA   &kp DOT     &kp SQT
                &kp N       &kp S       &kp T       &kp H       &kp K               &kp J       &kp N       &kp A       &kp I       &kp O
                            &kp C       &kp G       &kp D                                       &kp L       &kp U       &kp Y
                                                    &mo NAV     &kp SPACE           &kp E       &num_word                                  
            >;
        };
         
        nav_layer {
            label = "Navigation";
            bindings = <
                ______      ______      ______      ______      ______              &kp PG_UP   &kp HOME    &kp UP      &kp END     ______
                &sk LGUI    &sk LALT    &sk LCTL    &sk LSHFT   ______              &kp PG_DN   &kp LEFT    &kp DOWN    &kp RIGHT   ______
                            ______      ______      ______                                      &kp BSPC    &kp TAB     &kp DEL
                                                    ______      ______              ______      &kp RET
            >;
        };

        num_layer {
            label = "Number";
            bindings = <
                ______      ______      ______      ______      ______              ______      &kp COMMA   &kp DOT     &kp SQT     &kp SEMI
                &kp N4      &kp N3      &kp N2      &kp N1      ______              ______      &kp N0      &kp N6      &kp N7      &kp N8
                            ______      ______      &kp N5                                      &kp N9      ______      ______
                                                    ______      ______              ______      ______
            >;
        };
    };
};