/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define DEF 0
#define NUM 1

#define xxxxxx &none
#define ______ &trans

&sk {
  release-after-ms = <900>;  // release after 0.6s
  quick-release;
};

/ {
    behaviors {
		num_word: behavior_num_word {
			compatible = "zmk,behavior-caps-word";
			label = "NUM_WORD";
			#binding-cells = <0>;
            layers = 1;                                     // insert location of numbers layer here
			continue-list = <BACKSPACE DELETE DOT COMMA>;   // adjust as desired
            ignore-numbers;                                 // numbers don't deactivate the layer
		};
	};

    keymap {
        compatible = "zmk,keymap";

        def_layer {
            label = "Base Layer";
            bindings = <
                &kp W       &kp C       &kp G       &kp D       &kp K               &kp J       &kp L       &kp U       &kp O       &kp Y
                &kp R       &kp S       &kp T       &kp H       &kp F               &kp M       &kp N       &kp E       &kp A       &kp I
                            &kp V       &kp P       &kp B                                       &kp X       &kp Z       &kp Q
                                                    &none       &kp SPACE           &sk LSHFT   &num_word
            >;
        };

        num_layer {
            label = "Number";
            bindings = <
                ______      ______      ______      ______      ______              ______      ______      ______      ______      ______
                &kp N4      &kp N3      &kp N2      &kp N1      ______              ______      &kp N0      &kp N6      &kp N7      &kp N8
                            ______      ______      &kp N5                                      &kp N9      ______      ______
                                                    ______      ______              ______      ______
            >;
        };
    };
};